name: deploy
on:
  push:
    tags:
    - "v*.*.*"

jobs:
  release-containers:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v6
    - id: get_version
      uses: battila7/get-version-action@v2
    - uses: ./.github/actions/build-push-lvp-image
      with:
        image-name: index.docker.io/replicated/local-volume-provider:${{ steps.get_version.outputs.version-without-v }}
        git-tag: ${{ steps.get_version.outputs.version-without-v }}
        registry-username: ${{ secrets.DOCKERHUB_USER }}
        registry-password: ${{ secrets.DOCKERHUB_PASSWORD }}
